* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(158, 247, 247, 0.8);
  display: grid;
  place-items: center;
}
header {
  margin: 20px auto;
  font-size: 50px;
  font-weight: 600;
}
.container {
  width: 340px;
  /* height: 400px; */
  padding: 5%;
  background-color: rgb(124, 202, 226);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 0.6rem;
  height: max-content;
}
#inputfield {
  padding: 0px 0px 0px 12px;
  width: 282px;
  height: 40px;
  margin: 7px 2px;
  border-radius: 0.6rem;
  outline: none;
  border: 1px solid black;
  background-color: #fff;
}
#addtoo {
  letter-spacing: 1px;
  border-style: none;
  padding: 12px;
  font-size: 16px;
  font-family: timesNewRoman;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  color: #ffff;
  background-color: #348d8b;
  width: 7rem;
}
#addtoo:hover {
  background-color: rgb(42, 178, 231);
}
.to-dos {
  margin-top: 25px;
}
.paragraph-styling {
  margin-right: 10px;
  cursor: pointer;
  font-size: 15px;
}
ul{
  list-style-type: none;
}
li{
  display: flex;
  justify-content: center;
}
.liHead{
  font-size: 23px;
  color: #ab3737bf;
}
#clear {
  letter-spacing: 1px;
  border-style: none;
  padding: 12px;
  font-size: 16px;
  font-family: timesNewRoman;
  font-weight: bold;
  margin: 5px;
  border-radius: 5px;
  color: #ffff;
  background-color: #348d8b;
  width: 7rem;
}
.clearAll{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50%;
}
#clear:hover {
  background-color: rgb(42, 178, 231);
}
